/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
}

.imgs{
  width: 100px;
  border-radius: 20px;
}

.link{
  display: flex;
  gap: 20px;
}

.banner{
  padding: 20px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
} */